.wrapper {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  padding-top: 56px;
}

.auth {
  max-width: 500px;
}

h2 {
  margin-top: -30px;
  margin-bottom: 30px;
}
