
<div class="window">
  <div class="height" *ngIf="!loaded">
  </div>
  <div class="head mt-5" *ngIf="loaded">
    <img src="{{ thisCar.img }}" class="img-post">
    <div class="col-md-6 px-0 head-title">
      <h1 class="display-4 font-italic">"{{ thisCar.carName }}" {{ thisCar.brand }} {{ thisCar.model}} {{ thisCar.generation }}</h1>
      <p class="lead my-3 txt">{{ thisCar.text }}.</p>

    </div>
    <div class="header-foot">
      <h3 class="display-6">Владелец: <em>{{ thisCar.user.name }}</em></h3>
      <div class="count-wrap">
        <!--<div class="count count-tomato"><p>{{thisCar.subscribersCar}}<br><small>subs</small></p></div>-->
        <div class="count count-fuchsia"><p>{{ posts$.length }}<br><small>posts</small></p></div>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="loaded; else loading">
    <h3 class="text-muted"><span [routerLink]="['/user', thisCar.user.name ]" class="link">{{ thisCar.user.name }}</span> > <span> {{ thisCar.brand }} {{ thisCar.model}} {{ thisCar.generation }} </span></h3>
    <h2 class="mt-2">О машине</h2>
    <div class="about-car">
      <p><span>-</span> {{ thisCar.brand }} {{ thisCar.model }} {{ thisCar.generation }}</p>
      <p><span>-</span> Кузов {{ thisCar.bodyCar }}</p>
      <p><span>-</span> Двигатель: {{ thisCar.engineVolume }} {{ thisCar.engineType }} </p>
      <p><span>-</span> Коробка: {{ thisCar.gearbox }}</p>
      <p></p>
    </div>


    <div class="container post mt-2 pt-3 mb-2">
      <div class="card-columns" *ngIf="loaded; else loading">
        <div *ngIf="posts$.length !== 0; else empty">
          <div class="card" *ngFor="let post of posts$">
            <img src="{{ post.img | imgSlice}}" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
              <small class="text-muted">{{ post.date | date:'short'}}</small>
              <h5 class="card-title mb-1">{{ post.title }}</h5>
              <h6 class="card-title">{{ post.category }}</h6>
              <p class="card-text">{{ post.subTitle}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">likes: {{ post.likes }} comm: {{ post.commentsCount }}</small>
              <button class="btn btn-primary" [routerLink]="['/main-post', post._id]">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<ng-template #loading>
  <div class="wrapper-spinner">
    <h3 class="mr-2">Загрузка...</h3>
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #empty>
  <div class="wrapper-spinner">
    <h3 class="mr-2">Не найдено</h3>
  </div>
</ng-template>

