<div class="window">
  <div class="head mt-5">
    <img src="https://a.d-cd.net/6sAAAgDTnuA-1920.jpg" class="img-post">
    <div class="col-md-6 px-0 head-title">
      <h1 class="display-4 font-italic">О нас</h1>
    </div>
  </div>

  <div class="container mt-3 pt-3">
    <div class="left-menu">
      <div class="sticky">
        <div *ngFor="let cat of categories"><p class="h6 cursor" [routerLink]="['/categories']" [queryParams]="cat.category">{{ cat.category }}</p></div>
      </div>
    </div>
  </div>

  <div class="container posts">
    <img src="../../assets/images/main-logo.png" class="">
    <div class="alert alert-secondary  mt-3" role="alert">
      <h5 class="red text-center">Это экспериментальный проект. Весь контент ресурса вымышленный и носит исключительно развлекательный характер. Любые совпадения случайны.</h5>
    </div>
    <p>
      Вы любите её. Вы разговариваете с ней. Вы любуетесь ею каждый день. Вы знаете о ней всё и можете рассказывать о её качествах неделями. Вы прощаете ей её несовершенство, закрывая глаза на недостатки, а она боготворит вас. Ревнуя вас к другим красоткам, она стойко хранит верность. Вы знаете, что в критической ситуации она не раздумывая отдаст свою жизнь, спасая вас… Но всё равно где-то в глубине души вы мечтаете о другой.

      Мы создали этот сайт, потому что мы — такие же. Мы очень любим машины. И ещё мы очень любим людей. Хотя бы потому, что без них машины жить пока не могут."

      Люди наделали для себя миллионы сайтов. Пришло время <strong class="white">Top <span class="red">Fuel</span> </strong> — сообщества машин и людей, в котором главные действующие лица — машины.

      Участвовать в проекте очень просто — достаточно зарегистрироваться и загрузить информацию о своей машине: одну или несколько фотографий и небольшой рассказ (вы ведь напишете о своей любимой лучше любого автожурналиста, правда?)

      Вашу замечательную машину увидят и оценят не только соседи по потоку, но и огромное количество других хороших людей
      Здесь вы легко найдёте друзей и единомышленников, у которых такая же машина, как у вас
      Вы внесёте свой вклад в создание уникальной базы знаний обо всех автомобилях мира и реальном опыте их эксплуатации
      Оценивая и комментируя авто других пользователей, вы примете самое непосредственное участие в формировании рейтингов машин, моделей и марок
      Вместе мы сделаем автомобильный мир лучше
      Вне зависимости от того, какая у вас машина, на вершине она рейтинга или нет, любите вы общаться или не очень, — интересно будет абсолютно всем! Присоединяйтесь прямо сейчас!
      </p>
      <p>
        <i>С любовью,<br>
          создатели <strong class="white">Top <span class="red">Fuel</span> </strong> </i>
      </p>
  </div>

  <app-footer></app-footer>
</div>
