<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-4 center">
        <img src="../../assets/images/main-logo.png" alt="" class="logo" [routerLink] = "['/']" >
        <p [routerLink] = "['/']" class="link">На главную</p>
        <p [routerLink] = "['/about']" class="link">О проекте</p>
      </div>
      <div class="col-md-4 center">
        <h3>Навигация</h3>
        <p [routerLink] = "['/categories']" class="link">Категории</p>
        <p [routerLink] = "['/models']" class="link">Машины</p>
        <p [routerLink] = "['/profile']" class="link">Личный кабинет</p>
        <p [routerLink] = "['/rules']" class="link">Правила</p>
      </div>
      <div class="col-md-4 center">
        <h3>Контакты</h3>
        <p>Andrik698@gmail.com</p>
        <p>tel: +7 800 555 35 35</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Copyright © vodila.com, 2012-2020. Все права защищены.</p>
      </div>
    </div>
  </div>
</footer>
